*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Reem Kufi', sans-serif;
}

body{
    background-color: #FFFAFA;
}

.container{    
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 100%;
    max-width: 420px;
    background-color: #FFFAFA;
}

.header{
    background-color: #FFFAFA;    
    box-shadow: 3px 3px 5px 10px #FFFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo{
    width: 116px;
    height: auto;
}

.content-box{
    position: sticky;
    top: 0px;
    background-color: #FFFAFA;
    box-shadow: 0 0 10px 10px #FFFAFA;
    padding-bottom: 10px;
    padding-top: 5px;
}

.searcher{   
    position: relative;    
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    border-radius: 4px;
    margin: 0 auto;
    padding: 6px 10px;
    margin-top: 15px;        
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.btn{
    border: 0;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}

.input-txt{
    padding: 5px;
    font-size: 18px;
    width: 100%;
    margin: 0 5px;
    border: none;    
}

.main{
    padding: 15px;
}

.card{
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);    
}

.card__img{
    width: 100%;
    height: 340px;
    border-radius: 4px;
    object-fit: cover;
}

.card__title{
    margin: 10px 0 5px 0;
    line-height: 26px;
    font-size: 20px;
}

.card__main-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__more-info{
    margin-top: 15px;
}

.card__main-info__cat{
    color: #8a8a8a;
}

.card__main-info__price{
    color: #5E2727;
    font-weight: 700;
}

.separator{
    background-color: #e4e4e4;
    width: 100%;
    height: 1px;
    margin: 15px 0;
}

.card__shower{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-top: 5px;
    cursor: pointer;
}

.card__shower__text{
    color: #5e5e5e;
    font-weight: 600;
}

.hidden{
    display: none;    
}

.hidden-outside{
    transform: translate(-50%, 100%) !important;
}

.filter{
    border: 1px solid #e5e5e5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    width: calc(100% - 60px);    
    margin: 5px auto;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.45),
    0 8px 8px hsl(0deg 0% 0% / 0.75);
    transition: all .35s;    
}

.filter__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}

.filter__body{
    height: auto;
    max-height: 360px;
    overflow-y: auto;
}

.filter__item{
    margin: 10px 0;
    font-size: 18px;
}

.info{
    text-align: center;
}

.card__img__container{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.shower-indicator{
    transform: rotate(180deg);    
}

.list li{
    margin: 5px 0 5px 20px;    
}

.wa{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #5AC963;
    color: #fff;
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
    padding: 7px 0;
    font-size: 19px;
    text-decoration: none;
}

